@import './variables';

.drop-down {
  max-width: 100%;
  border-bottom: 1px solid $border-color;
  &__header {
    display: flex;
    padding: 24px;
    max-width: 100%;
    justify-content: space-between;
  }
  &__header-right {
    cursor: pointer;
  }
  &__header-button {
    width: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #999999;
    font-weight: 400;
  }
  &__header-group {
    width: 70%;
    display: flex;

    align-items: center;
  }
  &__header-group-name {
    margin-left: 15px
  }
  &__tasks{
    // opacity: 0;
    // transition: opacity 2s ease-in-out;
    ul {
      padding: 0px;
      margin: 0px;
      margin-left: 15px;
    }
    li {
      list-style-type: none;
      padding: 0 16px 0 16px;
    }
    li:not(:first-child) {
      padding-top: 16px;
    }
    li:last-child {
      padding-bottom: 20px;
    }
  }
}

.drop-down__tasks {
  max-height: 0px;
  transition: max-height 0.4s ease-out;
  overflow: hidden;
   /* Adjust the duration and timing function as needed */
}

.drop-down__tasks-active {
  max-height: 500px;
  transition: max-height 0.3s ease-in;
}